[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:forecasting-system/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:forecasting-system/auth-ms.git
[submodule "data-ingestor-ms"]
	path = data-ingestor-ms
	url = git@github.com:forecasting-system/data-ingestor-ms.git
[submodule "forecasting-ms"]
	path = forecasting-ms
	url = git@github.com:forecasting-system/forecasting-ms.git
[submodule "forecasting-access-ms"]
	path = forecasting-access-ms
	url = git@github.com:forecasting-system/forecasting-access-ms.git
[submodule "client"]
	path = client
	url = git@github.com:forecasting-system/client.git
