[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:forecasting-system/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:forecasting-system/auth-ms.git
[submodule "data-ingestor-ms"]
	path = data-ingestor-ms
	url = git@github.com:forecasting-system/data-ingestor-ms.git
